/*! See license: https://github.com/FranBarInstance/bootstrap-dynamic-themes */
@import "../fonts/inter.css";
@import "../colors/indigo-night.css";
@import "../styles/background-primary-low.css";
@import "../styles/borders-normal.css";
@import "../styles/rounding-none.css";
@import "../styles/shadows-extra.css";
@import "../styles/spacing-normal.css";
@import "../styles/gradients-off.css";
@import "../styles/accent-none.css";
@import "../styles/accent-1.css";
@import "../styles/accent-primary.css";

/* Metadata for the editor */
:root {
  --preset-colors: "indigo-night";
  --preset-fonts: "inter";
  --preset-background: "primary-low";
  --preset-borders: "normal";
  --preset-rounding: "none";
  --preset-shadows: "extra";
  --preset-spacing: "normal";
  --preset-gradients: "off";
  --preset-accent: "none";
  --preset-accentSize: "1";
  --preset-accentColor: "primary";
}
