/*! See license: https://github.com/FranBarInstance/bootstrap-dynamic-themes */
@import "../fonts/default.css";
@import "../colors/clean-tech.css";
@import "../styles/background-none.css";
@import "../styles/borders-default.css";
@import "../styles/rounding-default.css";
@import "../styles/shadows-default.css";
@import "../styles/spacing-default.css";
@import "../styles/gradients-default.css";
@import "../styles/accent-none.css";

/* Metadata for the editor */
:root {
  --preset-colors: "clean-tech";
  --preset-fonts: "default";
  --preset-background: "none";
  --preset-borders: "default";
  --preset-rounding: "default";
  --preset-shadows: "default";
  --preset-spacing: "default";
  --preset-gradients: "default";
  --preset-accent: "none";
}
