/*! See license: https://github.com/FranBarInstance/bootstrap-dynamic-themes */
@import "../fonts/playfair-display.css";
@import "../colors/lavender.css";
@import "../styles/background-none.css";
@import "../styles/borders-normal.css";
@import "../styles/rounding-extra.css";
@import "../styles/shadows-normal.css";
@import "../styles/spacing-large.css";
@import "../styles/gradients-on.css";
@import "../styles/accent-left.css";
@import "../styles/accent-1.css";
@import "../styles/accent-secondary.css";

/* Metadata for the editor */
:root {
  --preset-colors: "lavender";
  --preset-fonts: "playfair-display";
  --preset-background: "none";
  --preset-borders: "normal";
  --preset-rounding: "extra";
  --preset-shadows: "normal";
  --preset-spacing: "large";
  --preset-gradients: "on";
  --preset-accent: "left";
  --preset-accentSize: "1";
  --preset-accentColor: "secondary";
}
