@import "../colors/ink.css";
@import "../fonts/jetbrains-mono.css";
@import "../styles/borders-extra.css";
@import "../styles/rounding-none.css";
@import "../styles/shadows-none.css";
@import "../styles/spacing-small.css";
@import "../styles/gradients-off.css";
@import "../styles/accent-left.css";

:root {
  --preset-colors: "ink";
  --preset-fonts: "jetbrains-mono";
  --preset-borders: "extra";
  --preset-rounding: "none";
  --preset-shadows: "none";
  --preset-spacing: "small";
  --preset-gradients: "off";
  --preset-accent: "left";
}
