@import "../colors/pastel-cloud.css";
@import "../fonts/space-grotesk.css";
@import "../styles/background-gray-low.css";
@import "../styles/borders-none.css";
@import "../styles/rounding-extra.css";
@import "../styles/shadows-normal.css";
@import "../styles/spacing-large.css";
@import "../styles/gradients-on.css";
@import "../styles/accent-right.css";
@import "../styles/accent-1.css";
@import "../styles/accent-gray.css";

/* Metadata for the editor */
:root {
  --preset-colors: "pastel-cloud";
  --preset-fonts: "space-grotesk";
  --preset-background: "gray-low";
  --preset-borders: "none";
  --preset-rounding: "extra";
  --preset-shadows: "normal";
  --preset-spacing: "large";
  --preset-gradients: "on";
  --preset-accent: "right";
  --preset-accentSize: "1";
  --preset-accentColor: "gray";
}
