/*! See license: https://github.com/FranBarInstance/bootstrap-dynamic-themes */
/* themes/styles/background-gray-medium.css */

html:not([data-bs-theme="dark"]):not([data-mode="dark"]) {
  --bs-body-bg: color-mix(in srgb, var(--bs-gray-600) 10%, white);
  --bs-secondary-bg: color-mix(in srgb, var(--bs-gray-600) 14%, white);
  --bs-tertiary-bg: color-mix(in srgb, var(--bs-gray-600) 18%, white);
  --bs-border-color: color-mix(in srgb, var(--bs-gray-600) 18%, #dee2e6);
}

html[data-bs-theme="dark"],
html[data-mode="dark"] {
  --bs-body-bg: color-mix(in srgb, var(--bs-gray-500) 16%, #121212);
  --bs-secondary-bg: color-mix(in srgb, var(--bs-gray-500) 20%, #121212);
  --bs-tertiary-bg: color-mix(in srgb, var(--bs-gray-500) 24%, #121212);
  --bs-border-color: color-mix(in srgb, var(--bs-gray-500) 30%, #343a40);
}

