/*! See license: https://github.com/FranBarInstance/bootstrap-dynamic-themes */
/* themes/styles/shadows-normal.css */
.card {
  box-shadow: var(--bs-box-shadow-sm);
}

.dropdown-menu {
  box-shadow: var(--bs-box-shadow);
}

.modal-content {
  box-shadow: var(--bs-box-shadow-lg);
}
